{%load static%}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت‌نام</title>
    <link href="https://cdn.jsdelivr.net/npm/vazirmatn@33.003/Farsi-Digits/font-face.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/register_style.css'%}">
</head>
<body>
       <!-- Loading Screen -->
    <div id="loading" class="loading">
        <div class="loader">
            <div class="circle circle1"></div>
            <div class="circle circle2"></div>
            <div class="circle circle3"></div>
            <div class="circle circle4"></div>
        </div>
    </div>
    <form method="post">
        {%csrf_token%}
    <div class="registration-form">
        <h2>Registration</h2>
            {{forms.non_field_errors}}
            <div class="form-group">
            <label>Phone Number</label>
            {{ forms.phone_number }}
            {% for error in forms.phone_number.errors %}
                <span class="error-msg" dir="rtl"><bdi dir="rtl">{{ error }}</bdi></span>
            {% endfor %}
        </div>

        <div class="form-group">
            <label>Email</label>
            {{ forms.email }}
            {% for error in forms.email.errors %}
                <span class="error-msg" dir="rtl"><bdi dir="rtl">{{ error }}</bdi></span>
            {% endfor %}
        </div>

        <div class="form-group">
            <label>National Code</label>
            {{ forms.national_code }}
            {% for error in forms.national_code.errors %}
                <span class="error-msg" dir="rtl"><bdi dir="rtl">{{ error }}</bdi></span>
            {% endfor %}
        </div>

        <div class="form-group">
            <label>Role</label>
            {{ forms.role }}
            {% for error in forms.role.errors %}
                <span class="error-msg" dir="rtl"><bdi dir="rtl">{{ error }}</bdi></span>
            {% endfor %}
        </div>

        <div class="form-group">
            <label>Password</label>
            {{ forms.password }}
            {% for error in forms.password.errors %}
                <span class="error-msg" dir="rtl"><bdi dir="rtl">{{ error }}</bdi></span>
            {% endfor %}
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            {{ forms.confirm_password }}
            {% for error in forms.confirm_password.errors %}
                <span class="error-msg" dir="rtl"><bdi dir="rtl">{{ error }}</bdi></span>
            {% endfor %}
        </div>

        <button type="submit" class="submit-btn"> Submit</button>
    </div>
    </form>
    <script src="{% static 'js/register_script.js'%}"></script>
</body>
</html>